body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-

}

h1 {
    font-family: Arial;
    color: white;
}

h2 {
    font-family: Arial;
    color: white;
}

footer {
    margin-top: 1em;
    font-family: Arial;
    color: white;
}